version: "2"
services:

  reference-instance-ui:
    image: openlmis/dev-ui:9.0.1
    working_dir: /app
    volumes:
      - '.:/app'
    ports:
      - "9000:9000"
      - "9876:9876"
    env_file: .env
    volumes_from:
      - auth-ui
      - fulfillment-ui
      - referencedata-ui
      - requisition-ui
      - report-ui
      - stockmanagement-ui
      - cce-ui
      - ui-components
      - ui-layout
      - pcmt-integration-ui
    depends_on:
      - auth-ui
      - fulfillment-ui
      - referencedata-ui
      - requisition-ui
      - report-ui
      - stockmanagement-ui
      - cce-ui
      - ui-components
      - ui-layout
      - pcmt-integration-ui

  auth-ui:
    image: openlmis/auth-ui:6.2.3
    volumes:
      - '/openlmis-auth-ui'

  fulfillment-ui:
    image: openlmis/fulfillment-ui:6.0.6
    volumes:
      - '/openlmis-fulfillment-ui'

  referencedata-ui:
    image: openlmis/referencedata-ui:5.6.2
    volumes:
      - '/openlmis-referencedata-ui'

  stockmanagement-ui:
    image: openlmis/stockmanagement-ui:2.0.6
    volumes:
      - '/openlmis-stockmanagement-ui'

  cce-ui:
    image: openlmis/cce-ui:1.0.6
    volumes:
     - '/openlmis-cce-ui'

  report-ui:
    image: openlmis/report-ui:5.2.3
    volumes:
      - '/openlmis-report-ui'

  requisition-ui:
    image: openlmis/requisition-ui:7.0.2
    volumes:
      - '/openlmis-requisition-ui'

  ui-components:
    image: openlmis/ui-components:7.2.3-SNAPSHOT
    volumes:
      - '/openlmis-ui-components'

  ui-layout:
    image: openlmis/ui-layout:5.1.6
    volumes:
      - '/openlmis-ui-layout'

  pcmt-integration-ui:
    image: openlmis/pcmt-integration-ui:1.0.1-SNAPSHOT
    volumes:
      - '/pcmt-integration-ui'

  image:
    build: .
    image: openlmis/covid-ui