<h2>{{'adminOrganizationList.organizations' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-organization" class="add" ng-click="vm.goToAddOrganizationPage()">
        {{'adminOrganizationList.addOrganization' | message}}
    </button>
    <form ng-submit="vm.search()">
        <fieldset class="form-group">
            <label for="organizationName">{{'adminOrganizationList.name' | message}}</label>
            <input type="text" id="organizationName" ng-model="vm.organizationName"/>
        </fieldset>
        <input type="submit" value="{{'adminOrganizationList.search' | message}}"/>
    </form>
    <table>
        <caption ng-if="!vm.organizations || vm.organizations.length === 0">
            {{'adminOrganizationList.noOrganizations' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminOrganizationList.name' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="organization in vm.organizations">
                <td>{{organization.name}}</td>
                <td>
                    <button ui-sref="openlmis.administration.organizations.edit({id: organization.id})">{{'adminOrganizationList.edit' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
