<header>
  <h2>
    {{'stockCard.binCardName' | message: {'program': vm.stockCard.program.name} }}
  </h2>

  <button class="primary" ng-click="vm.print()">{{'stockCard.print' | message}}</button>
</header>

<aside class="stock-card-info">
  <div class="product-name-header">
    <span>{{vm.stockCard.orderable | productName}}</span>
  </div>

  <ul>
    <li>
      <strong>{{'stockCard.productCode'| message}}</strong>
      {{vm.stockCard.orderable.productCode}}
    </li>
    <li>
      <strong>{{'stockCard.manufacturer'| message}}</strong>
      {{vm.stockCard.orderable.extraData.productManufacturer}}
    </li>
    <li>
      <strong>{{'stockCard.facilityName' | message}}</strong>
      {{vm.stockCard.facility.name}}
    </li>
    <li>
      <strong>{{'stockCard.program' | message}}</strong>
      {{vm.stockCard.program.name}}
    </li>
    <li align="right">
      <strong>{{'stockCard.soh' | message}}</strong>
      {{vm.stockCard.stockOnHand}}
    </li>
    <li ng-if="vm.stockCard.lot">
      <strong>{{'stockCard.lot' | message}}</strong>
      {{vm.stockCard.lot.lotCode}}
    </li>
    <li ng-if="vm.stockCard.lot">
      <strong>{{'stockCard.expiryDate' | message}}</strong>
      {{vm.stockCard.lot.expirationDate | openlmisDate}}
    </li>
    <li>
      <strong>{{'stockCard.vvmStatus' | message}}</strong>
      {{vm.getProductVVM(vm.stockCard)}}
    </li>
    <li ng-if="vm.selectedSublot">
      <strong>{{'stockCard.sublotSOH' | message}}</strong>
      {{vm.sublotStockCard.sublotStockOnHand}}
    </li>
  </ul> 
</aside>
<div class="form-inline" ng-if="vm.stockcardHasSublots">
  <label for="sublotSelect">{{'stockCard.sublotCode' | message}}</label>
  <select id="sublotSelect" ng-model="vm.selectedSublot"
      ng-options="sublot.sublotCode for sublot in vm.sublots"
      ng-change="vm.sublotChanged()"
      >
  </select>
</div>

<section ng-if="!vm.selectedSublot" class="openlmis-table-container">

  <table>
    <thead>
    <tr>
      <th>{{'stockCard.date' | message}}</th>
      <th>{{'stockCard.from' | message}}</th>
      <th>{{'stockCard.to' | message}}</th>
      <th>{{'stockCard.reason' | message}}</th>
      <th>{{'stockCard.adjustment' | message}}</th>
      <th>{{'stockCard.vvmStatus' | message}}</th>
      <th>{{'stockCard.soh' | message}}</th>
      <th>{{'stockCard.signature' | message}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="lineItem in vm.displayedLineItems">
      <td>{{lineItem.occurredDate | openlmisDate}}</td>
      <td>
        {{lineItem.sourceFreeText ? ('stockCard.srcDstAndFreeText' |
        message: {name:lineItem.source.name, freeText: lineItem.sourceFreeText}) : lineItem.source.name}}
      </td>
      <td>
        {{lineItem.destinationFreeText ? ('stockCard.srcDstAndFreeText' |
        message: {name:lineItem.destination.name, freeText: lineItem.destinationFreeText}) : lineItem.destination.name}}
      </td>
      <td>
        {{ vm.getReason(lineItem) }}
      </td>
      <td align="right">{{lineItem.quantity}}</td>
      <td align="center">
        {{ vm.getLineItemVVMStatus(lineItem) }}
      </td>
      <td align="right">{{lineItem.stockOnHand}}</td>
      <td>{{lineItem.signature}}</td>
    </tr>
    </tbody>
  </table>

  <openlmis-pagination
    list="vm.stockCard.lineItems"
    paged-list="vm.displayedLineItems"
    pagination-id="'stockCard'">
  </openlmis-pagination>
</section>
<section ng-if="vm.selectedSublot" class="openlmis-table-container">

  <table>
    <thead>
    <tr>
      <th>{{'stockCard.date' | message}}</th>
      <th>{{'stockCard.from' | message}}</th>
      <th>{{'stockCard.to' | message}}</th>
      <th>{{'stockCard.reason' | message}}</th>
      <th>{{'stockCard.adjustment' | message}}</th>
      <th>{{'stockCard.vvmStatus' | message}}</th>
      <th>{{'stockCard.soh' | message}}</th>
      <th>{{'stockCard.signature' | message}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="lineItem in vm.sublotStockCard.sublotLineItems">
      <td>{{lineItem.occurredDate | openlmisDate}}</td>
      <td>
        {{lineItem.sourceFreeText ? ('stockCard.srcDstAndFreeText' |
        message: {name:lineItem.source.name, freeText: lineItem.sourceFreeText}) : lineItem.source.name}}
      </td>
      <td>
        {{lineItem.destinationFreeText ? ('stockCard.srcDstAndFreeText' |
        message: {name:lineItem.destination.name, freeText: lineItem.destinationFreeText}) : lineItem.destination.name}}
      </td>
      <td>
        {{ vm.getReason(lineItem) }}
      </td>
      <td align="right">{{lineItem.quantity}}</td>
      <td align="center">
        {{ vm.getSublotLineItemVVMStatus(lineItem) }}
      </td>
      <td align="right">{{lineItem.stockOnHand}}</td>
      <td>{{lineItem.signature}}</td>
    </tr>
    </tbody>
  </table>

  <openlmis-pagination
    list="vm.sublotStockCard.sublotLineItems"
    paged-list="vm.displayedLineItems"
    pagination-id="'stockCard'">
  </openlmis-pagination>
</section>
